@import 'mixinsAndExtensions';
@import 'variables';

@font-face {
  font-family: 'Satoshi-Regular';
  src:
    url('../fonts/Satoshi-Regular.woff2') format('woff2'),
    url('../fonts/Satoshi-Regular.woff') format('woff'),
    url('../fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Regular';
  src:
    url('../fonts/ClashDisplay-Regular.woff2') format('woff2'),
    url('../fonts/ClashDisplay-Regular.woff') format('woff'),
    url('../fonts/ClashDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

%body-large {
  font-family: 'Satoshi-Regular', 'Arial', 'Helvetica', sans-serif;
  @include text(1.125rem, 1.6875rem, $violet-blue, left);
}

%body-medium {
  font-family: 'Satoshi-Regular', 'Arial', 'Helvetica', sans-serif;
  @include text(1rem, 1.5rem, $medium-blue, left);
}

%body-small {
  font-family: 'Satoshi-Regular', 'Arial', 'Helvetica', sans-serif;
  @include text(0.875rem, 1.3125rem, $medium-blue, left);
}

%logo {
  font-family: 'ClashDisplay-Regular', 'Arial', 'Helvetica', sans-serif;
  @include text(1.5rem, 1.845rem, $dark-blue, center);
}

%ordinary {
  font-family: 'Satoshi-Regular', 'Arial', 'Helvetica', sans-serif;
  @include text(1rem, 1.35rem, $violet, center);
}

%h1 {
  font-family: 'ClashDisplay-Regular', 'Arial', 'Helvetica', sans-serif;
  @include text(2.25rem, 3.15rem, white, left);
}

%h2 {
  font-family: 'ClashDisplay-Regular', 'Arial', 'Helvetica', sans-serif;
  @include text(2rem, 2.8rem, $dark-blue, left);
}

%h3 {
  font-family: 'ClashDisplay-Regular', 'Arial', 'Helvetica', sans-serif;
  @include text(1.5rem, 2.1rem, $medium-blue, left);
}

%h4 {
  font-family: 'ClashDisplay-Regular', 'Arial', 'Helvetica', sans-serif;
  @include text(1.25rem, 1.75rem, $medium-blue, left);
}

%h5 {
  font-family: 'ClashDisplay-Regular', 'Arial', 'Helvetica', sans-serif;
  @include text(1rem, 1.4rem, $medium-blue, left);
}

%h6 {
  font-family: 'ClashDisplay-Regular', 'Arial', 'Helvetica', sans-serif;
  @include text(0.875rem, 1.225rem, $medium-blue, left);
}

%intro-head {
  font-family: 'ClashDisplay-Regular', 'Arial', 'Helvetica', sans-serif;
  @include text(2rem, 2.46rem, white, left);
}

%intro-text {
  font-family: 'Satoshi-Regular', 'Arial', 'Helvetica', sans-serif;
  @include text(1.125rem, 1.51875rem, white, left);
}

%footer-col-title {
  font-family: 'ClashDisplay-Regular', 'Arial', 'Helvetica', sans-serif;
  @include text(1rem, 1.23rem, white, left);
}

%footer-link {
  font-family: 'Satoshi-Regular', 'Arial', 'Helvetica', sans-serif;
  @include text(0.875rem, 1.18125rem, white, left);
}

%tagline {
  font-family: 'ClashDisplay-Regular', 'Arial', 'Helvetica', sans-serif;
  @include text(2.25rem, 3.15rem, $medium-blue, center);
}

%prod-name {
  font-family: 'ClashDisplay-Regular', 'Arial', 'Helvetica', sans-serif;
  @include text(2.25rem, 2.7675rem, $medium-blue, left);
}

%prod-price {
  font-family: 'ClashDisplay-Regular', 'Arial', 'Helvetica', sans-serif;
  @include text(1.5rem, 2.025rem, $medium-blue, left);
}

%prod-sec-title {
  font-family: 'ClashDisplay-Regular', 'Arial', 'Helvetica', sans-serif;
  @include text(1rem, 1.23rem, $medium-blue, left);
}

%prod-dims-value {
  font-family: 'ClashDisplay-Regular', 'Arial', 'Helvetica', sans-serif;
  @include text(0.875rem, 1.076rem, $medium-blue, center);
}
