$xxl-screen-size: 1440px;
$xl-screen-size: 1200px;
$lg-screen-size: 1000px;
$md-screen-size: 800px;
$sm-screen-size: 600px;
$xs-screen-size: 400px;

$violet-blue: #5b5676;
$violet: #726e8d;
$medium-blue: #2a254b;
$dark-blue: #22202e;
$light-grey: #f9f9f9;
$primary: #4e4d93;
$grey-violet: #505977;
$border-grey: #ebe8f4;
